<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx1f95ed8882ca2418</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>zhe800</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>zhe800</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>sinaWeibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb2221059670</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>alixpay</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tenpay-1213704501-tao800</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>qqId</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent100734944</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>qqPayCallBackScheme</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>qqPay100734944</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>unionpay</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>zhe800unionpay</string>
        </array>
      </dict>
    </array>
    <key>DTPlatformVersion</key>
    <string>9.3</string>
    <key>DTSDKName</key>
    <string>iphoneos9.3</string>
    <key>CFBundleName</key>
    <string>tao800</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>折800</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>uppayx3</string>
      <string>uppayx2</string>
      <string>uppayx1</string>
      <string>uppaywallet</string>
      <string>uppaysdk</string>
      <string>mqqapi</string>
      <string>mqzone</string>
      <string>mqzoneopensdk</string>
      <string>mqzoneopensdkapi19</string>
      <string>mqzoneopensdkapiV2</string>
      <string>mqq</string>
      <string>wtloginmqq2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqwpa</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>sinaweibohd</string>
      <string>sinaweibo</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
      <string>weixin</string>
      <string>wechat</string>
      <string>alipay</string>
      <string>alipayshare</string>
      <string>mqqwallet</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>请允许访问，以便我们为你推荐合适的商品</string>
    <key>DTSDKBuild</key>
    <string>13E230</string>
    <key>CFBundleShortVersionString</key>
    <string>4.6.5</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>请允许访问，以便我们为你推荐合适的商品</string>
    <key>BuildMachineOSBuild</key>
    <string>15F34</string>
    <key>DTPlatformBuild</key>
    <string>13E230</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>7D175</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>CFBundleVersion</key>
    <string>2700</string>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UILaunchImageFile</key>
    <string>LaunchImage</string>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>CFBundleLocalizations</key>
    <array>
      <string>zh_CN</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.tuan800.tao800iphone.tao800</string>
    <key>CFBundleIconFiles</key>
    <array>
      <string>80x80-Setting</string>
      <string>Icon</string>
      <string>Icon.png</string>
      <string>Icon-76.png</string>
      <string>Icon-120.png</string>
      <string>Icon-152.png</string>
      <string>Icon@2x.png</string>
      <string>iTunesArtwork.png</string>
      <string>Icon-Small-50.png</string>
      <string>Icon-Small.png</string>
      <string>Icon-Small@2x.png</string>
      <string>Icon-72.png</string>
      <string>Icon-Small-40.png</string>
      <string>Icon-Small-50@2x.png</string>
    </array>
    <key>DTXcode</key>
    <string>0730</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>tao800</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
